{#

if ($cursor != 'default') {
  $cursor_class = ' onomasticon-cursor-' . $cursor;
}

#}

{{ attach_library('onomasticon/default') }}

{% set attributes = create_attribute() %}

{%
  set classes = [
    'onomasticon',
    implement == 'extra_element' ? 'onomasticon-extra-element',
    implement == 'extra_element' ? 'onomasticon-orientation-' ~ orientation,
    cursor == default ? '' : 'onomasticon-cursor-' ~ cursor,
  ]

%}

{% set url = url('<current>') %}

{% 
 set data_dialog_options = '{"width":800,"dialogClass":""}'  
%}


{% if implement == 'extra_element' %}
  


	{% if ('print' not in url|render|render) %}
	
<{{ tag }} {{ attributes.addClass(classes) }} tabindex="0" title="{{ needle }}">
    <button disabled="disabled" class="onomasticon-term-description">{{ description }}{% if termlink %}<p>
    
    <a class="use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options='{{data_dialog_options}}' href="{{ termpath }}">read more</a>    
    </p>{% endif %}</button>
  </{{ tag }}>
        {% else %}
{{ needle }}
	{% endif %}


{% else %}
  <{{ tag }} {{ attributes.addClass(classes) }} title="{{ description }}">{{ needle }}</{{ tag }}>
{% endif %}
